<div class="container">
  <h1>Register Form</h1>
  <form #registerForm="ngForm" autocomplete="off">
    <div class="form-group">
      <label for="username">UserName</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        #UserName
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required #Email />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        required
        #Password
      />
    </div>

    <button
      type="submit"
      class="btn btn-success"
      (click)="registerUser(UserName.value, Email.value, Password.value)"
    >
      Submit
    </button>
  </form>
</div>
